.storage-results {
    display: flex;

    &:first-of-type {
        margin-top: 10px;
    }
    span {
        border-right: 1px solid lightgrey;
        flex: 1;
        text-align: center;

        &:first-child {
            flex: none;
            width: 150px;
            padding-left: 20px;
            text-align: left;
        }

        &:last-child {
            border-right: none;
        }

    }
}
