.results {
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    position: relative;
    legend {
        margin-bottom: 0;
        padding-left: 10px;
    }
    & > section {
        position: relative;
    }
    .icon-explained {
        @include position(absolute, -15px 0 0 10px);
        span {
            line-height: 20px;
            display: inline-flex;
            vertical-align: middle;
        }
        .icon-explained {
            float: right;
            .test-passed {
                padding: 0 35px;
                position: relative;
                &::before {
                    @include position(absolute, -7px 0 0 0px);
                }
            }
            .test-failed {
                padding: 0 27px;
                position: relative;
                &::before {
                    @include position(absolute, -7px 0 0 0px);
                }
            }
            .test-skipped {
                padding: 0 0 0 37px;
                position: relative;
                &::before {
                    @include position(absolute, -13px 0 0 0px);
                }
            }
        }
    }
    .row-header {
        border-bottom: 1px solid lightgrey;
        display: flex;
        font-weight: 700;
        margin-bottom: 2;
        text-align: center;
        .section-x {
            display: inline-block;
            width: 150px;
        }
        .section-a {
            border-right: 1px solid lightgrey;
            flex: 2;
            margin-bottom: 2px;
        }
        .section-b {
            border-right: 1px solid lightgrey;
            flex: 2;
            margin-bottom: 2px;
        }
        .section-c {
            flex: 4;
            margin-bottom: 2px;
            input {
                display: inline-block;
                height: 20px;
                padding: 0 5px;
                width: 60px;
            }
        }
        &.sub-header span {
            border-right: 1px solid lightgrey;
            flex: 1;
            text-align: center;
            margin-bottom: 2px;
            &:first-child {
                display: inline-block;
                flex: none;
                width: 150px;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}

@import "results-storage";
