#container {
	/*width: 500px ;*/
}
#log {
	background-color: lightgrey ;
	border: 2px solid black ;
	 -moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari, Chrome */
  	border-radius: 10px; /* CSS3 */
	min-height: 200px ;
	color: black ;
	text-shadow:#fff 5px 5px 5px;
	padding-left: 10px ;
	margin-top:5px ;
	margin-bottom:5px ;
}
#log .row {
	position:relative ;
}
#log img {
	width: 25px ;
	height: 25px ;
}
#log .timestamp {
	position: absolute ;
	left: 50px ;
	top: 5px ;
}
#log .msg {
	position: absolute ;
	top: 5px ;
	left: 120px ;
}
#log .header {
	font-weight: bold ;	
	height: 20px ;
}
#log .header div {
	float: left ;
}
#log .ltype {
	width: 50px ;
}
#log .ltime {
	width: 70px ;
}
fieldset {
	width: 400px ;
	 -moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari, Chrome */
  	border-radius: 10px; /* CSS3 */
	margin-bottom:5px ;
	margin-left: auto ;
	margin-right: auto ;
}
#go {
	display: block ;
	width: 300px ;
	margin-bottom:10px ;
	margin-left: auto ;
	margin-right: auto ;
}
/*
th#dbtype {
	width: 180px ;
}
th.result {
	width: 130px ;
}
*/
td {
	padding: 3px 0 3px 10px ;
	width: 110px ;
}
td.wider {
	width: 130px ;
}
div.status {
	width: 26px ;
	height: 25px ;
	float: left ;
}
td .time-spent {
	float: left ;
	margin: 3px 0 0 8px ;
}
td .winner {
	width: 20px ;
	height: 25px ;
	float: right ;
}
.in-progress {
	background-image: url(images/ajax-loader.gif) ;
	background-repeat: no-repeat ;
	background-position: center ;

}
.ok {
	background-image: url(images/check-and-cross-icons.png) ;
	background-size: 187%;
	background-repeat: no-repeat ;
	background-position: 0 -7;
}
.skip {
	background-image: url(images/skip-icon.png) ;
	background-repeat: no-repeat ;
	background-size: 100%;
	background-position: 0 2;
}
.error {
	background-image: url(images/check-and-cross-icons.jpg) ;
	background-size: 187%;
	background-repeat: no-repeat ;
	background-position: -26 -7;
}
.expla {
	float: left ;
	margin:2px 0 0 3px;
	width:180px
}
.expla-container {
	width: 100% ;
	height: 30px ;
}
.hidden {
	display: none ;
}
#sqldump {
	margin-top:5px ;
}
.filter-title, .filter-item {
	float: left ;
	margin-right:15px ;
}
.setup-label {
	float: left ;
	width: 200px ;
}
.setup-field {
	float: right ;
}
#cleanup {
	margin-top:4px ;
}