 .results-header {
     ol {
         list-style-type: none;
         border-bottom: 1px solid lightgrey;
         display: flex;
         font-weight: 700;
         padding: 0;
         margin-bottom: 2;
         text-align: center;
     }
     .upper {
         li:first-child {
             border-right: 1px solid lightgrey;
             flex: 2;
             margin: 0 0 2px 150px;
         }
         .upper-header-single {
             border-right: 1px solid lightgrey;
             flex: 2;
             margin-bottom: 2px;
         }
         .upper-header-multi {
             flex: 4;
             margin-bottom: 2px;
             input {
                 display: inline-block;
                 height: 20px;
                 padding: 0 5px;
                 width: 60px;
             }
         }
     }
     .lower {
         li {
             display: inline-flex;
             justify-content: center;
             align-items: center;
             margin-bottom: 2px;

             span {
                 margin-right: 5px!important;
             }
         }
         li {
             border-right: 1px solid lightgrey;
             flex: 1;
         }
         li:first-child {
             display: inline-block;
             flex: none;
             width: 150px;
             input {
                 display: none;
             }
         }
         li:last-child {
             border-right: none;
         }
     }
 }
