.icon-explained {
    @include position(absolute, -15px 0 0 10px);
    span {
        line-height: 20px;
        display: inline-flex;
        vertical-align: middle;
    }
    .icon-explained {
        float: right;
        .test-passed {
            padding: 0 35px;
            position: relative;
            &::before {
                @include position(absolute, -7px 0 0 0px);
            }
        }
        .test-failed {
            padding: 0 27px;
            position: relative;
            &::before {
                @include position(absolute, -7px 0 0 0px);
            }
        }
        .test-skipped {
            padding: 0 0 0 37px;
            position: relative;
            &::before {
                @include position(absolute, -13px 0 0 0px);
            }
        }
    }
}
