.engine-results {
    position: relative;
    & > ol {
        background-color: #fff;
        border-bottom: 1px solid lightgrey;
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-bottom: 2px;
        position: relative;
        text-align: center;

        &.engine-false {
            background-color: lightgrey;
        }

        & > li {
            border-right: 1px solid lightgrey;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            text-align: center;
            margin: 10px 0;
            &:first-child {
                justify-content: flex-start;
                flex: none;
                width: 150px;
                padding-left: 20px;
                text-align: left;
            }
            &:last-child {
                border-right: none;
            }
            & > span {
                margin-left: 5px;
            }
        }
    }

    .disabled-tests {
        background-color: rgba(#fff, .8);
        z-index: -1;
        @include position(absolute, 0px 0px 0px 0px);
    }
    .engine-false {
        z-index: 1;

    }
}
